@{
    ViewBag.Title = "Module";
}
<ul style="background-color: Red;">
    <li style="display: block; padding-left: 30px;">拼车网</li>
    <li style="display: block; padding-left: 30px;">拼吃网</li>
    <li style="display: block; padding-left: 30px;">拼游网</li>
    <li style="display: block; padding-left: 30px;">拼爱网</li>
    <li style="display: block; padding-left: 30px;">拼聊网</li>
    <li style="display: block; padding-left: 30px;">拼心网</li>
</ul>
