@{
    ViewBag.Title = "Index";
}
<link href="../../../../Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
<script src="../../../../Scripts/jquery-1.5.1.js" type="text/javascript"></script>
<script src="../../../../Scripts/jquery-ui-1.8.11.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#dialogTest1").dialog({


        });


    });
</script>
<h2>
    Index</h2>
<div id="dialogTest1">
</div>
