右边内容 

@*
<div>
    <ol>
        <li>学校选择
            <ol>
                <li>小学</li>
                <li>初中</li>
                <li>高中</li>
                <li>自考</li>
                <li>成考</li>
            </ol>
        </li>
    </ol>
    <ol>
        <li>学费选择
            <ol>
                <li>小学</li>
                <li>初中</li>
                <li>高中</li>
                <li>自考</li>
                <li>成考</li>
            </ol>
        </li>
    </ol>
</div>
*@