<div style="height: 50px; position: static; text-align: right; z-index:1000000;">
    @*<a href="" title="登陆">登陆</a> <a href="" title="登陆">安全退出</a>*@
    @Html.ActionLink("登陆", "LogOn", "Account")
    @Html.ActionLink("退出", "LogOff", "Account")
</div>
