@{
    ViewBag.Title = "_Top";
}
<div style="width: 100%; margin: 0 auto; height: 80px; background: url(../../widget/image/styleimage/top2.png);
    background-repeat-x: repeat; background-repeat-y: no-repeat; background-attachment: initial;
    background-position-x: 0%; background-position-y: 100%; background-origin: initial;
    background-clip: initial; background-color: transparent;">
    <ul>
        <li style="display: inline-block;">拼车网</li>
        <li style="display: inline-block;">拼吃网</li>
        <li style="display: inline-block;">拼游网</li>
        <li style="display: inline-block;">拼爱网</li>
        <li style="display: inline-block;">拼聊网</li>
        <li style="display: inline-block;">拼心网</li>
    </ul>
</div>
