@{
    ViewBag.Title = "TopMenue";
}
<style type="text/css">
    
</style>
<div stye="width:100%;height:100%;">
    <ol>
        <li><a href="#">My dashboard</a></li>
        <li><a href="#">Likes</a></li>
        <li><a href="#">View</a>
            <ol>
                <li><a href="#">document</a></li>
                <li><a href="#">message</a></li>
                <li><a href="#">sigout</a></li>
            </ol>
        </li>
        <li><a href="#">Uploads</a></li>
        <li><a href="#">Videos</a></li>
        <li><a href="#">Documents</a></li>
    </ol>
</div>
