body
{
    border: none;
    padding: 0;
    margin: 0;
}

/*------------------------------------------------ 最上面的页头固定面板----------------------------------------*/
.topToolBar
{
    height: 28px;
    margin: 0px;
    padding-right: 5px;
    border-bottom: 1px solid black;
    background: #4c4e5a;
    background: -webkit-linear-gradient(top, #E0E0E0 0%,#F7F7F7 100%);
    background: -moz-linear-gradient(top, #E0E0E0 0%,#F7F7F7 100%);
    background: -o-linear-gradient(top, #E0E0E0 0%,#F7F7F7 100%);
    background: -ms-linear-gradient(top, #E0E0E0 0%,#F7F7F7 100%);
    background: linear-gradient(top, #E0E0E0 0%,#F7F7F7 100%);
    text-align: right;
}

.topToolBar ul
{
    float: right;
    display: block;
    position: relative;
}
.topToolBar ul li
{
    float: left;
    list-style: none;
    height: 28;
}
.topToolBar ul li a
{
    display: block;
    padding: 0 14px;
    margin: 1px 0;
    line-height: 28px;
    text-decoration: none;
    border-left: 1px solid #393942;
    border-right: 1px solid #4f5058;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #f3f3f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

/* -----------------------------------------------页头菜单------------------------------------------------*/
/* Reset */
.menu, .menu ul, .menu li, .menu a
{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    margin: 0 auto; /*------居中显示---------*/
}

/* Menu */
.menu
{
    height: 40px; /*width: 505px;*/
    width: 520px;
    background: #4c4e5a;
    background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.menu li
{
    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 40px;
}

.menu li ul
{
    z-index: 1000;
}

/* Links */

.menu li a
{
    display: block;
    padding: 0 14px;
    margin: 6px 0;
    line-height: 28px;
    text-decoration: none;
    border-left: 1px solid #393942;
    border-right: 1px solid #4f5058;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: #f3f3f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

.menu li:first-child a
{
    border-left: none;
}
.menu li:last-child a
{
    border-right: none;
}

.menu li:hover > a
{
    color: #8fde62;
}

/* Sub Menu */
.menu ul
{
    position: absolute;
    top: 40px;
    left: 0;
    opacity: 0;
    background: #1f2024;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}

.menu li:hover > ul
{
    opacity: 1;
}

.menu ul li
{
    height: 0;
    overflow: hidden;
    padding: 0;
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}

.menu li:hover > ul li
{
    height: 36px;
    overflow: visible;
    padding: 0;
}

.menu ul li a
{
    width: 100px;
    padding: 4px 0 4px 40px;
    margin: 0;
    border: none;
    border-bottom: 1px solid #353539;
}

.menu ul li:last-child a
{
    border: none;
}

/* Icons */
.menu a.documents
{
    /*background: url(../img/docs.png) no-repeat 6px center;*/
}
.menu a.messages
{
    /* background: url(../img/bubble.png) no-repeat 6px center;*/
}
.menu a.signout
{
    background: url(../img/arrow.png) no-repeat 6px center;
}

/* --------------------------------Styles for validation helpers[@hmlt.TextFor/TeaxtAreaFor]时给控件添加的样式 ---------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* _layout.cshtml中基本的配置页面
**********************************************************************************************************************************************************/
#middle
{
    width: 100%;
}

#middle > div
{
    float: left;
    padding: 0px;
    margin: 0px;
}
.valid
{
    /*background: #4c4e5a;                 background: -webkit-linear-gradient(top, #E0E0E0 0%,#F7F7F7 100%);               background: -moz-linear-gradient(top, #E0E0E0 0%,#F7F7F7 100%);               background: -o-linear-gradient(top, #E0E0E0 0%,#F7F7F7 100%);               background: -ms-linear-gradient(top, #E0E0E0 0%,#F7F7F7 100%);           background: linear-gradient(top, #E0E0E0 0%,#F7F7F7 100%);*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.Btn
{
    background-color: Gray;
}

.BtSave
{
}

.BtnDelete
{
}

.BtnPrint
{
}

/*删除按钮或a用的样式*/
.BtnDelete
{
}

select
{
    font-size: 11px;
    color: #000;
    background-color: #FAFAFA;
    height: 22px;
    padding: 2px;
    outline: none;
    border: solid 1px #DCDCDC;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    vertical-align: top;
    border-radius: 4px;
    -moz-border-radius: 4px;
}
[text]
{
    font-size: 11px;
    color: #000;
    background-color: #FAFAFA;
    height: 22px;
    padding: 2px;
    outline: none;
    border: solid 1px #DCDCDC;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    vertical-align: top;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

/******
*
*公共样式 当获取焦点后的样式
*
*******/

input:focus, input.Mandatory:focus, select:focus, select.Mandatory:focus, textarea:focus, textarea.Mandatory:focus
{
    /*background: #f7f8c2;*/
    background: #f2f2f2;
    border-style: dotted;
    border-color: #666;
}


/*------------------------最外边div的设置-------------------------*/
#bodyMain-123
{
    opacity: 0.1; /* 这是最重要的，因为它是CSS标准.该属性支持firefox, Safari和 Opera.*/
    filter: alpha(opacity=1); /* 这个是为IE6设的，可取值在0-100，其它三个0到1.*/
    -moz-opacity: 0.1; /*这个是为了支持一些老版本的Mozilla浏览器。*/
    -khtml-opacity: 0.1; /* 这个为了支持一些老版本的Safari浏览器。*/
}
